body{
    background-color: #fff;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #2b2b2b;
}

a{
    color: #29EC5C;
    font-family: Arial, Helvetica, sans-serif;
}

button{
  width: 65px;
  border-radius: 20%;
  background-color: #3b3b3b;
  outline: none;
  color: #fff;
}

img{
  max-width: 75%;
}

footer{
  padding: 1%;
}

#main{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page{
    padding: 0.1%;
    width: 100%;
    height: 100%;
    background-color: #303030;
    border-radius: 4%;
    border: solid #1c1c1c;
}

#logo{
  width: 200px;
  height: 200px;
}
