body{
    background-color: #222831;
    font-family: sans-serif;
    color: #fff;
}

nav{
    margin: -8px;
    height: 100px;
    background-color: #213140;
    text-align: center;
}

a{
    color: #29EC5C;
}

img{
    max-width: 75%;
}

.navLink{
    font-size: 22pt;
    margin: 0.1%;
}

#main{
    font-size: 25px;
}

#mediaLinks{
    font-size: 20pt;
}

#avatar{
    width: 200px;
    height: 200px;
}