body{
    background-color: #2b2b2b;
    font-size: 25px;
    font-family: sans-serif;
    color: #ffffff;
}

a{
    color: #29EC5C;
    font-size: 25px
}

#nav1{
    background-color: #636262;
    border: ridge #2b2b2b;
}
/* sekretny link do pobrania testowej wersji datapacka do mc o nazwie dpack : https://www.dropbox.com/s/1qoty5b4jgp1hhf/dpackv3.zip?dl=0*/