
.icon-comment:before { content: '\e800'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-reddit:before { content: '\f1a1'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-wikipedia-w:before { content: '\f266'; } /* '' */